    .background {
        background-image: url("bg1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        /*  background-repeat: repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center; */
    }
    
    .card {
        margin: 15px;
    }
    
    .bg-custom1 {
        color: white;
        background-color: #303d44d3;
    }
    
    .bg-custom2 {
        color: white;
        background-color: #193341dc;
    }
    
    .navbar-custom {
        color: black;
    }
    
    .login {
        padding: 4% 5% 4% 5%;
        background-color: rgba(0, 0, 0, 0.301);
        background-position: center;
        border: 4px;
        border-color: rgba(0, 0, 0, 0.301);
        border-radius: 19px;
    }
    
    .signup {
        padding: 1% 5% 2% 5%;
        background-color: rgba(0, 0, 0, 0.301);
        background-position: center;
        border: 4px;
        border-color: rgba(0, 0, 0, 0.301);
        border-radius: 19px;
    }
    
    @media only screen and (max-width: 300px) {
        body {
            height: 100vh;
        }
    }
    
    @media only screen and (max-width: 400px) {
        body {
            height: 100vh;
        }
    }
    
    @media only screen and (max-width: 800px) {
        body {
            height: 100vh;
        }
    }
    
    @media only screen and (max-width: 1200px) {
        body {
            height: 100vh;
        }
    }