    .background {
        background-image: url("bg.png");
        /* background-repeat: no-repeat;
        background-size: cover;
        background-position: top; */
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
    }
    
    .login {
        padding: 4% 5% 4% 5%;
        background-color: rgba(0, 0, 0, 0.301);
        background-position: center;
        border: 4px;
        border-color: rgba(0, 0, 0, 0.301);
        border-radius: 19px;
    }
    
    .signup {
        padding: 1% 5% 2% 5%;
        background-color: rgba(0, 0, 0, 0.301);
        background-position: center;
        border: 4px;
        border-color: rgba(0, 0, 0, 0.301);
        border-radius: 19px;
    }