    .background {
        background-image: url("bg1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        /* background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center; */
    }
    
    .login {
        padding: 4% 5% 4% 5%;
        background-color: rgba(155, 155, 155, 0.438);
        background-position: center;
        border: 4px;
        border-color: rgba(155, 155, 155, 0.438);
        border-radius: 19px;
    }